<h2>Reactive Validations</h2>
<hr>


<div class="row">
    <div class="col">

        <form autocomplete="off">
            <div class="row mb-3" >
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="User name">
                    <span class="for-text text-danger">
                        Should be in lastname and firstname format
                    </span>
                </div>
                
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="User email">
                </div>
            </div>

            
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Code user name">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Confirm password">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end">Create</button>
                </div>
            </div>

        </form>

    </div>
</div>