<h2>Template: <small>Dinámicos</small></h2>
<hr>
<form (ngSubmit)="save()" autocomplite="off" [formGroup]="myForm">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input class="form-control"
                    placeholder="Person name"
                    formControlName="name">
            <span class="form-text text-danger" *ngIf="notFieldValid('name')">
                    This field is required
            </span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">
            <div class="input-group ">
                <input class="form-control"
                placeholder="Add favourite game"
                [formControl]="favouriteNew" (keyup.enter)="addFavourite()"
                >
                <button class="btn btn-outline-primary" type="button" (click)="addFavourite()">Add game</button>
            </div>
        </div>
    </div>

    <!-- List favourite game -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favourites</label>
        <div class="col-sm-9" formArrayName="favourites">
            <div class="input-group mb-1" *ngFor="let favourite of favouriteArr.controls; let i = index">
                <input class="form-control" [formControlName]="i">
                <button class="btn btn-outline-danger" type="button" (click)="delete(i)">Delete</button>
            </div>
            
        </div>
    </div>

    <div class=" row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-end" [disabled]="myForm.invalid">Save</button>
        </div>
    </div>
</form>


<span>Valid</span>
<pre> {{ myForm.valid}}</pre>

<span>Value</span>
<pre> {{ myForm.value | json }}</pre>

