<h2>Template: Switches</h2>
<hr>

<form>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioGender" id="maleOption" 
                        value="M" required>
                <label class="form-check-label" for="maleOption">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radioGender" id="femaleOption" 
                        value="F" required>
                <label class="form-check-label" for="femaleOption">
                  Female
                </label>
              </div>
        </div>

    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notifications</label>
        <div class="col-sm-9 ">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" 
                        type="checkbox" 
                        role="switch" 
                        id="flexSwitchCheckChecked"
                        name="notifications">
                <label class="form-check-label" for="flexSwitchCheckChecked">The app would like to send you notification</label>
            </div>

        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                        name="terms" required>
                <label class="form-check-label" for="flexCheckDefault">
                    terms and conditions of use
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end">Save</button>
        </div>
    </div>

</form>

<h5>Form Value</h5>
<pre></pre>
<br>

<h5>Valid</h5>


<h5></h5>